#header-title-text{
    margin-top: 155px;
    margin-left: 355px;
    font-size: 30px;
    font-weight: bold;
    color: #1e2022;
    font-family: 'Montserrat', sans-serif;
}

#header-description-text{
    margin-top: -25px;
    margin-left: 355px;
    font-size: 30px;
    font-weight: bold;
    color: #337dff;
    font-family: 'Montserrat', sans-serif;
}

#header-description-two-text{
    margin-left: 355px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #677788;
}

#purchase-it-button{
    margin-left: 355px;
    position: absolute;
    border-radius: 10px;
    height: 45px;
    width: 150px;
    background-color: #377dff;
    transition-duration: .4s;
}

#purchase-it-button:hover{
    box-shadow: #377dff 0px 3px 20px;
        transform: translateY(-10px)}

        #purchase-text{
            margin-top: 12px;
            position: absolute;
            margin-left: 17px;
            color: white;
            font-family: 'Inter', sans-serif;
        }

        #header-background{
            margin-top: -355px;
            margin-left: 1055px;
            width: 500px;
            position: absolute;
        }

        #more-info{
            margin-top: 12px;
            position: absolute;
            margin-left: 550px;
            color: #377dff;
            font-family: 'Inter', sans-serif;
            transition-duration: .2s;
        }

        #more-info:hover{
            transform: translateY(-5px);
        }

        #main-title{
            font-weight: bold;
            text-align: center;
            margin-top: 205px;
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            color: black;
        }

        #main-description{
            color: #677788;
            font-family: 'Inter', sans-serif;
            text-align: center;
        }

        #stats{
            margin-top: 100px;
            margin-left: 600px;
            color: #377dff;
        }
#stats-move{
    margin-left: -200px;
}
        #title-stats{
            color: #535151;
            margin-left: 540px;
            font-weight: bold;
            font-family: 'Inter', sans-serif;
            font-size: 20px;
        }
#description-stats{
    color: #677788;
    font-family: 'Inter', sans-serif;
margin-left: 400px;}
        ::selection {
            color:#377dff;
        }

        #stats-movement{
            position: absolute;
            margin-left: 15px;
        }

        #info{
            margin-top: 100px;
            margin-left: 615px;
            color: #377dff;
        }

        #title-info{
            color: #535151;
            margin-left: 540px;
            font-weight: bold;
            font-family: 'Inter', sans-serif;
            font-size: 20px;
        }

        #description-info{
        color: #677788;
        font-family: 'Inter', sans-serif;
        margin-left: 430px;}

        #description-movement{
            position: absolute;
            margin-left: 15px;
        }

        #info-move{
            margin-left: 855px;
            margin-top: -300px;
            position: absolute;
        }

        #problem{
            margin-left: 15px;
        }

        #support{
            margin-left: 5px;
        }

        #stats-two{
            margin-left: -5px;
        }

        #support-two{
            margin-left: 12px;
        }
        .fa-comment{
            color: #337dff;
        }

        #support-three{
            position: absolute;
            margin-top: -95px;
            margin-left: 605px;
        }
        
        #support-move{
            margin-top: -104px;
            margin-left: 315px;
        }